/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #c5cae9;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

#page {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  background: white;
}

header {
  background: #303f9f;
  padding: 20px 15px 15px 15px;
  position: relative;
  color: white;
}

#login-buttons {
  display: block;
  color: white;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

#login-username, #login-password, #login-password-again {
  background-color: white !important;
  color: black !important;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

/* Helper classes */
.right {
  float: right;
}

.left {
  float: left;
}

.box {
  border-color: black;
  border-width: 1px;
  border-style: solid;
}


/* Game UI */

#left-col {
  min-width: 640px;
}

#right-col {
  width: 24%;
}

#map {
  min-width: 640px;
  min-height: 640px;
}


#chat {
  width: 60%;
}

#chat ul {
  list-style-type: none;
  width: 98%;
  overflow-y: scroll;
  word-wrap: break-word;
  padding: 5px;
  margin: 0px;
  height: 4em;
}

#chat input {
  width: 98%;
  background-color: white;
  color: black;
}


#actions {
  width: 39%;
  height: 100%;
}

#equipment {
  height: 30%;
}

#inventory {
  height: 70%;
}