<template name="pageGame">

	
  <div id="left-col" class="left box">
    
    <div id="map" class="box">
      <!--Kinetic-->
    </div>

    <button id="trigger">Click me!</button>

    <div>
      <div id="chat" class="left box">
        <ul id="messages">
          <!--chat messages-->
        </ul>
        <form class="box form-chat">
          <input type="text" name="inputChat">
        </form>
      </div>

      <div id="actions" class="right box">
        <table>
          {{#each actions}}
            {{> action }}
          {{/each}}
        </table>
      </div>
    </div>

  </div>



  <div id="right-col" class="right box">
    <div id="equipment" class="box">equip</div>
    <div id="inventory" class="box">lots of inventory</div>
    <div>{{ playerData.name }} at {{ playerData.at.map }}</div>
  </div>

</template>


<template name="action">
  <tr>
    <td>{{ text }}</td>
    <td>{{ action.val }}</td>
  </tr>
</template>